:root{
    --white: #ffffff;
    --lightgray: #ebe4e4;
    --gray: #474646;
    --black: black;
    --lightblack: #1b1b1b;
    --green: green;
    --darkgreen: #4bb64b;
    --lightgreen: rgb(83, 219, 83);
    --lightred: #f35c5c;
    --blue: #293fb8;
    --lightorange: rgb(245, 194, 170);
    --orange: rgb(224, 71, 0);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
}
.clear{
    clear: both;
}
.float-r::after,.float-l::after{
    content: "";
    clear: both;
    display: table;
}
/*---------- Start Floating ----------*/
.float-l{
    float: left;
}
.float-r{
    float: right!important;
}
.box{
    display: flex;
}
/** ---------End floating --------*/
/************************************/
.heading{
    width: 100%;
    background: var(--darkgreen);
    height: max-content;  
    padding: 1px;
}
.container{
    width: 90%;
    padding: inherit;
    height: auto;
    margin: auto;
}
.navigation{
    width: 100%;
    height: 60px;
    padding: 3px 0;
    background-color: var(--lightgreen);
}
/***************************************/
/**************Start main body ****************/
.mainbody{
    background-color: #d3d3d3;
    height: auto;
}
.main-content{
    background: var(--white);
    padding: 15px;
    margin: 4px 0px;
}
.sidemenu-text{
    /* display: block !important; */
    padding: 15px;

}
.sidemenu-text h3{
    width: 65%;
    display: inline-block;
}

.sidemenu{
    background-color: var(--lightgray);
    padding: 15px 0;
    display: block !important;
    

}
.main-slider{
    height: 324px;
    display: block;
}
.main-slider-body{
    height: 100%;

}
.main-slider-body img{
    width: 100%;
    height: 90%;
}
.main-content-item{
    height: auto;
}
.main-content-item-box{
    height: 200px; 
    padding: 7px;
    text-align: center;
   
}
.main-content-item-box:hover {
     box-shadow: 0 1px 12px #6666de;
     padding: 12px;
}
.main-content-item-box a{
    text-decoration: none;
    color: var(--orange)

}
.main-content-item-box a img{
    width: 109px;
    height: 140px;
    margin: 0 0px;
}
.main-content-item-box p{
    width: 100%;
    color: var(--orange);
    padding: 10px 0;
}
/**************End main body ****************/
/************* **************** ************/
/************* Start Service Section ************/
.services{
    padding: 20px 10px;
    background-color: #ffe6e6
}
.services-body{
    padding: 0px 0px 30px 10px; 
    margin: 10px 3px 20px 3px;
}
.services-box{

}
.services-box i{
    color: var(--green);
    font-size: 38px;
    margin-right: 5px;
}
.services-box p{
    width: 70%;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
    
}
/************* End Service Section ************/
/************* **************** ************/
/********** Start products section ********/
.products{
    height: auto;
    padding: 10px;
}
.products-body{
    padding: 0 10px;
}
.product-body-header{
    margin: 10px 0;
}
.product-body-header h3{
    display: inline-block;
    width: 90%;
    font-size: 25px;
    padding: 10px;
}
.product-body-header a{
    display: inline-block;
    width: 8%;
    padding: 2px;
    font-size: 20px;
    color: var(--green);
}
.products-box{
    height: 386px;
    width: 15.6%!important;
    margin: 5px;
    text-align: center;
}
.product-text{
    height: 305px;
    padding: 15px 8px;
    border: 1px solid var(--lightgreen);
    position: relative;
}
.product-text .fa-heart{
    color: rgb(158, 158, 158);
    position: absolute;
    display: none;
    left: 85%;
    top: 1%;
    font-size: 25px;
}
.product-text h4{
    color: var(--lightblack);
    text-align: left;
    padding: 10px;
    font-size: 15px;
    overflow: hidden;
  
}


.product-text img{
    width: 80%;
    height: 200px;
}
.product-text p{
    color: var(--darkgreen);
    word-spacing: 13px;
    font-size: 18px;
    margin: 0px 0 0 0;
}
.product-add-to-card{
    height: 81.8px;
    width: 99.8%;
    margin: 0px 0 0 0;

    /* background-color: var(--gray); */
    display: none;
    border-left: 1px solid var(--lightgreen);
    border-right: 1px solid var(--lightgreen);
    border-bottom: 1px solid var(--lightgreen);

}
.product-add-to-card a{
    display: inline-block;
    text-decoration: none;
    background: var(--orange);
    color: var(--white);
    width: 70%;
    padding: 10px;
    margin: 20px 0;
}
.products-box:hover{
    box-shadow: 0px 0px 6px var(--lightgreen);
    
}
.products-box:hover .product-text{
    border-bottom: none;
    
}
.products-box:hover .fa-heart{
    display: block;
}
.products-box:hover .product-add-to-card{
    display: block;
}
/************ End products Section ********/